language: node_js
node_js:
  - "7"
addons:
  apt:
    sources:
      - avsm
    packages:
      - ocaml
      - ocaml-native-compilers
      - camlp4-extra
      - opam
before_script:
  - opam init
  - opam switch 4.02.3+buckle-master
  - eval `opam config env`
  - opam install ocamlfind lwt uwt reason
  - npm install
  - npm run build
  - ./lib/bs/native/test.native &
script:
  - node ./test.js